.patient-info{
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    padding-bottom: 10px;

    .names{
        font-weight: bold;
        font-size: medium;
    }

    span{
        font-weight: bold; 
    }

    &__buttons{
    .ui.icon.button{
        background-color: rgb(4, 32, 80);
        i.icon.eye:before{
            color:white
        }
    }
}
}